form {
	display: flex;
	flex-direction: column;
}


.submit {
	padding: 20px 30px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border: solid 4px rgba(0,0,0,0.6);
	border-radius: 10px;
	margin-top: 25px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 1s;
}

.submit:hover {
	background-color: #42f56c;
}

.input {
	padding: 10px;
	background: #fafafa;
	border: solid 1px black;
	border-radius: 10px;
	outline: none;
	width: 500px;
	margin: 10px auto;
	font-size: 1.3rem;
}

textarea {
	height: 140px;
	font-family: inherit;
}


@media only screen and (max-width: 578px) {

.input, .submit { font-size: 1rem; width: 80%;  }
#comp10 .front {max-height: 530px;}
#comp9 .front {max-height: 300px;}
#comp3 .front {max-height: 460px;}
#comp6 .front {max-height: 450px;}
#comp6 .front img {transform: translateX(7%);}
#comp5 .front {max-height: 450px;}


}