.komputerowa {
		background: #a2a3af;
		padding: 10%; 
}


.back {
	display: none;
}
.front {
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	text-align: center;
	background: white;
	margin: auto auto; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.front:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer {
	font-size: 0.8rem;
	opacity: 0.9;
}

