html, body {
	font-family: "Rubik", Helvetica;
}
h1, h2, h3, h4, h5 {
	font-family: "Montserrat", Serif;
}
.komputerowa {
		background: #a2a3af;
		padding: 10%; 
}


.back {
	display: none;
}
.front {
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	text-align: center;
	background: white;
	margin: auto auto; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;

}

.front:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.front:after {
	transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.footer {
	font-size: 0.8rem;
	opacity: 0.9;
}
input, textarea {
	width: 50%;
}
label span {
	width: 50%;
	text-align: left;
}
label {
	font-weight: 500;
	display: block;
	width: 80%;
}


#comp1 .front { background: #d0ff02 }
#comp2 .front { background: #d0aad0 }
#comp3 .front {background: #a0dad0}
#comp4 .front {background: #d0ff02}
#comp5 .front {background: #d0ff02}
#comp6 .front {background: #d0aad0}
#comp7 .front {background: #d0aad0}
#comp8 .front {background: #d0ff02}
#comp9 .front {background: #a0dad0}
#comp10 .front {background: #d0ff02}
