div {
  overflow: scroll;
  color: red;
  height: 100%;
  width: 100%;
}
body, html {
  height: 300vh;
  width: 200vw;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

#strona {
	display: grid;
	grid-template-columns: 100vw 100vw;
  	grid-template-rows: 100vh 100vh 100vh;

}
.komputerowa {
	width: 100vw;
	height: 100vh;
}

.floating {
	position: fixed;
	bottom: 30px;
	right: 30px;
}