div {
  overflow: scroll;
  color: black;
  height: 100%;
  width: 100%;
}
body, html {
	cursor: all-scroll;
  height: 360vh;
  width: 160vw;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

#strona {
	display: grid;
	grid-template-columns: 70vw 70vw;
  	grid-template-rows: 70vh 70vh 70vh 70vh 70vh;

}
.komputerowa {
	width:70vw;
	height: 70vh;
}

.floating {
	display: hidden;
	position: fixed;
	bottom: 30px;
	right: 30px;
}